*{
  margin-left: 0px;
  padding: 0;
  text-decoration: none;
}
body{
  height: 100vh;
  background: var(--body-color);
}
main{
  width: 100%;
  padding: 20px;
}
.sidebar{
  background: #000;
  color: #fff;
  height: 100vh;
  width: 500px;
  position: fixed;
}

.top_section{
  display: flex;
  align-items: center;
  padding: 20px 15px;
  
}
.logo{
  font-size: 30px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 30px;
}
.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  gap: 15px;
  transition: all 0.5s;
  font-size: 30px;
  
}
.link:hover{
  background: lightskyblue;
  color: #000;
  transition: all 0.5s;
  
}
.active{
  background: lightskyblue;
  color: #000;
 
}
.icon, .link-text{
  font-size: 30px;

}